@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc; /* Un gris muy suave, mejor que blanco puro */
  color: #1e293b;
}